* {
    margin: 0;
    padding: 0;
}

.imgPerfil{
    padding-top: 25px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    
}
body{
    font-family: 'Dancing Script', cursive;

    background-image: url('../img/back2.jpg'); 
    background-repeat: no-repeat;

    align-items: center;
    text-align: center;
    color: aliceblue;

    font-size: 30px;

    justify-content: center;
    align-items: center;
    width:100%;
    height:280px;
    margin:auto;

}
header p{
    
    text-align: left;
    font-size: 30px;
}

.estreito{
    width: 700px;
}

.grupoBotoes{
    background-color: rgba(rgba(197, 66, 180, 0.274), rgba(124, 0, 128, 0.548), blue, alpha);
    

}
p{
    padding: 5px;
}
.botoes{
    font-family: 'Dancing Script', cursive;
    display: block;
    display: inline-block;
    background-color: rgb(91, 7, 112);
    border-radius: 10px;
    border: solid 4px rgb(228, 224, 27);

    padding: 15px;
    width: 500px;
    margin: 20px;

}
.grupoBotoes p:hover{

    background-color: rgb(168, 92, 187);
    border-radius: 10px 50px;
    color: black;
    transition: 400ms;
    list-style: none;

}
 a {
    color: #e4e4e4;
    text-decoration: none;
  }
  .negrito {
    font-weight: bold;
   }
footer p {
    font-size: 20px;
}
table{
    margin: 5px;
    
}
td{
    padding: 15px;
}
@media screen and (max-width: 778px){
    .imgPerfil{ 
        margin: 10px;

    }

    header{

        display: inline-flex;
        justify-content: space-evenly;
  
    }

    body{
        font-size: 20px;
    }
    #textoHeader{
        padding-top: 25px;
        font-size: 10%;
    }
    .estreito{
        width: 100%;
    }
    .botoes{
        width: 80%;
    }
}
